<html>
<head>
  <meta charset="UTF-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <style>
    body {
      margin: 50px;
      background-color: #F5F5F5;

    }
    h1 {
      margin: 30px;
    }
    h2 {
      font-size: 1.3em
    }
    .card {
      margin: 4px;
    }

    .style-invalid{
      color: red;
      border-color: red;
    }

    .style-not_available{
      color: red;
      border-color: red;
    }

    .style-unknown_version{
      color: red;
      border-color: red;
    }

    .json-note{
      font-size: 0.6em;
      border-style: solid;
      border-width: 1px;
      border-radius: 2px;
      padding: 2px;
    }
  </style>
</head>

<body>
  <img src='/logo.png' width='13%'>
<h1>DeadlineAPI - Endpoint-Editor</h1>


<div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Add Entry</h5>
    <form method="post" action="/editor/new" >

      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label col-form-label-sm">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control mb-2 mr-sm-2" id="name" name="name" placeholder="The name of the conference">
        </div>
      </div>
  
      <div class="form-group row">
        <label for="shortname" class="col-sm-2 col-form-label col-form-label-sm">Shortname</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="shortname" name="shortname" placeholder="The shortname of the conference">
        </div>
      </div>
  
      <div class="form-group">
        <label for="cycle" class="col-sm-2 col-form-label col-form-label-sm">Cycle</label>
        <input type="text" class="form-control" id="cycle" name="cycle" placeholder="The cycle for which your deadline applies">
      </div>
  
      <div class="form-group">
        <label for="confurl">Conference URL</label>
        <input type="text" class="form-control" id="confurl" name="confurl" placeholder="The url for the conference">
      </div>
  
      <div class="form-group">
        <label for="cfpurl">CallForPaper URL</label>
        <input type="text" class="form-control" id="cfpurl" name="cfpurl" placeholder="The url for the call-for-paper page">
      </div>
  
      <div class="form-group">
        <label for="categories">Categories (comma separated)</label>
        <input type="text" class="form-control" id="categories" name="categories" placeholder="The categories of your conference, comma separated">
      </div>
  
  
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
  
      <div class="form-group">
        <label for="location_virtual">Location Virual</label>
        <input type="text" class="form-control" id="location_virtual" name="location_virtual" placeholder="True if your conference provides a virtual track">
      </div>
  
      <div class="form-group">
        <label for="location_country">Location Country</label>
        <input type="text" class="form-control" id="location_country" name="location_country" placeholder="The country, the conference takes place in">
      </div>
  
      <div class="form-group">
        <label for="location_city">Location City</label>
        <input type="text"class="form-control" id="location_city" name="location_city" placeholder="The city, the conference takes place in">
      </div>
  
      <div class="form-group">
        <label for="location_lat">Location Lat</label>
        <input type="text" class="form-control" id="location_lat" name="location_lat" placeholder="The latitude of the conference">
      </div>
  
      <div class="form-group">
        <label for="location_lon">Location Lon</label>
        <input type="text" class="form-control" id="location_lon" name="location_lon" placeholder="The longitude of the conference">
      </div>
  
      <div class="form-group">
        <label for="startdate">Conference Startdate</label>
        <input type="text" class="form-control" id="startdate" name="startdate" placeholder="The first day of the conference">
      </div>
  
      <div class="form-group">
        <label for="enddate">Conference Enddate</label>
        <input type="text" class="form-control" id="enddate" name="enddate" placeholder="The last day of the conference">
      </div>
  
      <div class="form-group">
        <label for="deadline">Deadline</label>
        <input type="text" class="form-control" id="deadline" name="deadline" placeholder="The deadline of the conference">
      </div>
  
      <div class="form-group">
        <label for="pagelimit">Pagelimit</label>
        <input type="text" class="form-control" id="pagelimit" name="pagelimit" placeholder="The pagelimit. Leave empty if there is none.">
      </div>
      
      <p class="card-text"><a class="btn btn-primary" href="/editor" role="button">cancel</a>
        <button type="submit" class="btn btn-primary">Save</button>
      </p>
      </form>
  </div>
</div>




</body>
</html>